/** Todo list **/

.ck .todo-list input {
    padding: 0;
}

.ck .todo-list__checkmark:after {
    height: 6px !important;
}

.ck .todo-list__checkmark {
    padding: 0;
}

.ck.ck-content.ck-editor__editable {
    min-height: 300px;
}

.ck h2 {
    color: inherit;
    background: inherit;
}

form .aligned .ck ul li {
    list-style: inherit;
}

form .aligned .ck ul {
    margin-left: 1.5em;
    padding-left: inherit;
}
.ck-word-count{
    display: flex;
    margin-top: 10px;
}

.ck-word-count__words{
    margin-right: 10px;
}

.ck.ck-editor {
    position: relative;
    width: 100%;
}
.ck-editor-container{
    width: 100%;
}

.ck-widget.oferta-box {
    border: #aaa;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 0.5rem 1rem 0.2rem 1rem;
}

form.ck.ck-oferta-form {
    margin: 1rem;
}

.ck-oferta-form .ck-list {
    margin-top: 5px;
}

.ck-oferta-form .ck-list__item {
    margin-bottom: 3px;
}

.ck-oferta-form .ck-list__item button {
    border: 1px solid #aaa;
    cursor: pointer;
}

.ck-oferta-form .ck-list__item button:hover {
    background-color: #ccc;
}